@model LoginModel
@{
    Layout = null;
}

@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="~/css/site.css" rel="stylesheet">
</head>
<body class="panel-body">
  


        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    @*<div class="panel panel-primary">
                        <h1 class="text-center login-title"> Ingresar con usuario para continuar con el sistema</h1>
                    </div>*@
                   
                    <div class="account-wall">

                        @*<img class="profile-img" src="~/images/user.png"
                             alt="">*@
                        <img src="~/images/FINNINGLOGO.jpg" alt="Logo" class="img-thumbnail" />
                        <form class="form-signin" asp-action="Login" method="post">
                            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                            <input asp-for="Email" type="text" class="form-control" placeholder="Email" required autofocus>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" required>
                            <div class="text-danger" asp-validation-summary="All"></div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Ingresar al Sistema
                            </button>
                            @*<label class="checkbox pull-left">
                                    <input type="checkbox" value="remember-me">
                                    Remember me
                                </label>*@
                            @*<a href="#" class="pull-right need-help">Datos del administrador </a><span class="clearfix"></span>*@
                        </form>
                    </div>
                    @*<div class="panel panel-primary">
                        <a href="#" class="text-center new-account"><h3>Crear Cuenta</h3> </a>

                    </div>*@
                    @*<div class="alert alert-warning"><a href="#" class="text-center "><h3>Crear Cuenta</h3></a></div>
                        
                    </div>*@
            </div>
        </div>
        
</body>
</html>
























